@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Shop</h1>
    <p class="lead"> Here you can find the best products at the best prices! </p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            You can search for our products in "Products" page.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>This is an online shop. You can find more info in "About" page.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>If you encounter problems please contact us by email. More info in "Contact" page.</p>
        
    </div>
</div>